                                /* -------------PAGINA PRINCIPAL-------------*/
/* -- altura -- */
html, body, .capa{
    height: 100%;
}

/* -- background da pagina, com imagem fixada, edição de fundo, com cor e degrade, e formatação de texto da pagina*/
body { 
 background: 
 url('imagens/ruido.png'), 
 linear-gradient(50deg, #ff9696, #863e7480);
 background-attachment: fixed;
 font-family: Helvetica, arial, sans-serif;

 /* -- remoção da barra de rolaghem horizontal -- */
 overflow-x: hidden;
 
}

/* -------------------- BARRA DE NAVEGAÇÃO COM IMPORTAÇÃO DE LOGO E TRANSPARENCIA DA ABA ------------------- */
.img-logo{
    height:42px;
    width:134px;
    display: block;
    background:url(imagens/logo-header.svg) no-repeat;
    background-size: contain ; 
}

/* -- edição no tamanho e cor da navbar -- */
nav.navbar-transparente {
    background: rgb(255, 139, 139);
    padding: 15px 0px;
    border: none;

}


/* -- sentralização da logo -- */
.navbar-brand{
    padding: 5px;

}

/* -- alterar cor das palavras assim que o cursor estiver em cima-- */
.navbar-inverse .navbar-nav>li>a, footer .nav a{
    color: white;
}

.navbar-inverse .navbar-nav>li>a:hover, footer .nav a:hover {
    color:#000000;
    background: none;
}


/* -- seção de servicos -- */

#servicos {
    background: rgb(39, 39, 39);
    padding-top: 100px;
    padding-bottom: 20px;
    background: non;
}

/* -- recursos -- */
.recursos {
    padding-top: 70px;
    padding-bottom: 20px;
    color: white;
}


/* ------------------------------------ EDIÇÃO DE COR E TAMANHO DO RODAPE -----------------------------------*/

footer {
    background: rgb(255, 139, 139);
    padding: 50px 0px 20px 0px;
    position: relative;
}

.item-forma-de-pagamento{
    float: left;
}

.img-rodape {
    margin-top: 60%;
    height:62px;
    width:134px;
    display: block;
    background:url(imagens/Logo_Newsletter.png) no-repeat;
    background-size: contain ; 
    color: transparent;

}

/* -- formatação de texto da pagina -- */

h1 {
    font-size: 50px;
    font-weight:800;
    letter-spacing: -0.05em;
    margin-bottom: 420px;
    color:rgb(255, 255, 255);
    }

h2{
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -0.04em;
}

h3{
    font-size: 35px;
    font-weight: 700;
    letter-spacing: -0.04em;
}

h5{
    color:white;
    
}
p{
    color: white;
}

#rodape h4{
    color: #802e2e;
    font-size: 12px;
    text-transform: uppercase;
}


/* -- formatação da cor do texto da pagina home, pagina de compra do produto e pagina de cadastro -- */
#servicos h2, #servicos h3 {
    color: #eeeeee
}

/* -- formatação do botão comprar do produto da pagina home e da pagina de compra do produto-- */
.btn-comprar {
    width: 240px;
    height: 50px;
    color: black;
    border-radius: 10px;
    padding-top: 12px;
    margin-right: 10px;
    margin-left: 9px ;
    
}

.icon-button{
    height:22px;
    width:134px;
     background-size: contain ;
     margin-right: 30px;
     margin-left: -40px;

}

.imagem-produto-responsivo{
    
    background-size:100%;
    


/*------------------------------------PAGINAS DE COMPRA DOS PRODUTO----------------------------------------*/
div.tres {
    /*-- borda de fundo da imagame do produto  --*/
    line-height:100px;
    width:80px;
    height:80px;
    border-style: solid;
    border-color: rgb(29, 29, 29);
    border-width: 26px 260px 245px 30px;
    margin-top: 20px;
    }
    /*-- bloco de codigo nao esta sendo usado  --*/

/* -- --------------------------------------------PAGINA CADASTRO------------------------------------------ */

.produto1{
    margin-left: 450px ;

}

.text-produto1{
    margin-right: 12px;
                                    
 }

